@import "tailwindcss";

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
  position: fixed;
}

body.has-custom-titlebar {
  height: calc(100% - 34px);
}

#root{
  height: 100%;
  width: 100%;
}

/*animaciones, hover y acciones de botones*/

button{ background-color: #202020; }
button:hover{
  background-color: #303030;
  transition: 0.1s;
}
button:active{
  background-color: #404040;
  transition: 0.1s;
}

.success-transfer {
  overflow: hidden;
  white-space: nowrap;

  opacity: 0;
  transform: translateY(6px);
}

.show-send{
  background-color: #51C1A4;
  color: #333E48;
  animation: notify 3s ease forwards;
}

@keyframes notify {
  /* Aparece */
  0% {
    opacity: 0;
    transform: translateY(6px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }

  /* Se mantiene visible */
  90% {
    opacity: 1;
    transform: translateY(0);
  }

  /* Desaparece */
  100% {
    opacity: 0;
    transform: translateY(6px);
  }
}



/*-- centrado vertical y horizontal --*/
.center-v{ display: flex; align-items: center; }
.center-h{ display: flex; justify-content: center; }
.center-all{ display: flex; align-items: center; justify-content: center; }

.TitleBarDragAndDrop{ -webkit-app-region: drag; }
.TitleBarButtonsDragAndDrop{ 
	-webkit-app-region: no-drag; 
	-webkit-user-select: none; 
	user-select: none;
}